<p id="notice"><%= notice %></p>

<p>
  <strong>Application:</strong>
  <%= @bill_detail_info.application_id %>
</p>

<%= link_to 'Edit', edit_bill_detail_info_path(@bill_detail_info) %> |
<%= link_to 'Back', bill_detail_infos_path %>
