<p id="notice"><%= notice %></p>

<p>
  <strong>Payment:</strong>
  <%= @bill_head_info.payment %>
</p>

<%= link_to 'Edit', edit_bill_head_info_path(@bill_head_info) %> |
<%= link_to 'Back', bill_head_infos_path %>
